<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:myname="http://www.ywd.com/schema/user"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.ywd.com/schema/user
           http://www.ywd.com/schema/user.xsd">

  <bean id="testBean" class="ywd.bean.TestBean">
  </bean>

  <bean id="argBean" class="ywd.bean.constructorArg.ArgBean">
    <constructor-arg index="0">
      <value>Dreamingodd</value>
    </constructor-arg>
    <constructor-arg index="1">
      <value>awesome</value>
    </constructor-arg>
  </bean>

  <!-- Alias -->
  <alias name="testBean" alias="a1"/>
  <alias name="testBean" alias="a2"/>
  <!-- 
  <alias name="a2" alias="a1"/>
  <alias name="a1" alias="a2"/>
   -->

  <!-- 4.Customized tag parsing -->
  <myname:user id="customBean" userName="ywd" email="ywd@heaven.com"/>

  <!-- 5.1.FactoryBean
  <bean id="car" class="ywd.bean.factoryBean.CarFactoryBean" carInfo="BMW-500GT,280,980000"></bean>
   -->
  <bean id="car" class="ywd.bean.factoryBean.CarFactoryBean">
    <property name="carInfo" value="BMW,280,980000"></property>
  </bean>

  <bean id="constructorCircleTestBeanA" class="ywd.bean.circularDependency.CircleTestA">
    <constructor-arg index="0" ref="constructorCircleTestBeanB"/>
  </bean>
  <bean id="constructorCircleTestBeanB" class="ywd.bean.circularDependency.CircleTestB">
    <constructor-arg index="0" ref="constructorCircleTestBeanC"/>
  </bean>
  <bean id="constructorCircleTestBeanC" class="ywd.bean.circularDependency.CircleTestC">
    <constructor-arg index="0" ref="constructorCircleTestBeanA"/>
  </bean>

  <bean id="setterCircleTestBeanA" class="ywd.bean.circularDependency.CircleTestA">
    <property name="b" ref="setterCircleTestBeanB"/>
  </bean>
  <bean id="setterCircleTestBeanB" class="ywd.bean.circularDependency.CircleTestB">
    <property name="c" ref="setterCircleTestBeanC"/>
  </bean>
  <bean id="setterCircleTestBeanC" class="ywd.bean.circularDependency.CircleTestC">
    <property name="a" ref="setterCircleTestBeanA"/>
  </bean>

  <bean id="prototypeCircleTestBeanA" class="ywd.bean.circularDependency.CircleTestA" scope="prototype">
    <property name="b" ref="prototypeCircleTestBeanB"></property>
  </bean>
  <bean id="prototypeCircleTestBeanB" class="ywd.bean.circularDependency.CircleTestB" scope="prototype">
    <property name="c" ref="prototypeCircleTestBeanC"></property>
  </bean>
  <bean id="prototypeCircleTestBeanC" class="ywd.bean.circularDependency.CircleTestC" scope="prototype">
    <property name="a" ref="prototypeCircleTestBeanA"></property>
  </bean>

  <bean id="awareTest" class="ywd.bean.aware.AwareTest"></bean>
  <bean id="hello" class="ywd.bean.aware.Hello"></bean>
</beans>